$background-color: #4f86c6;
$foreground-color: #ffffff;

* {
  background-color: $background-color;
  color: $foreground-color;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

body {
  margin: 0px;
  font-family: sans-serif;
}

header {
  height:4em;
  width: 100%;
  text-align:right;
  border-bottom: 2px solid $foreground-color;
}

button {
  color: $foreground-color;
  border-width: 0px;
  cursor: pointer;
}

header > button {
  font-size: 3em;
}

.events {
  display:flex;
  flex-flow: row wrap;
}

.event {
  position:relative;
  border: 1px solid $foreground-color;
  border-radius: 10px;
  padding:2em;
  margin:2em;
}

.event > button {
  position:absolute;
  bottom:14px;
  right:12px;
  background-color: $background-color;
}

button.delete {
  width:16px;
  height:16px;
  background-image: url("/img/delete.png");
}
