<div class="main">
  <header>
    <button (click)="addEvent()" title="Add event">+</button>
  </header>
  <div class="events">
    <h1 *ngIf="events.length == 0">Click "+" to add an event</h1>
    <div class="event" *ngFor="let event of events">
      <h1>{{event.name}}</h1>
      <p>{{event.date | date:'dd.MM.y, HH:mm'}}</p>
      <h2>{{event.timeRemaining | timespan:'Tag':'Tage'}}</h2>
      <button class="delete" (click)="deleteEvent(event)" title="Delete this event"></button>
    </div>
  </div>
</div>
